
body {
    color: black;
    margin: 0;
    font-family: "Parisienne";
    letter-spacing: 1px;
}

h1 {
    color: darkslateblue;
    word-spacing: 20px;
}

#welc_header {
    margin-top: 120px;
    font-size: 90px;
}

.welc_word {
    transition: 0.7s;
    padding-bottom: 5px;
    font-weight: 300;
}

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#logo {
    padding: 12px;
    width: 40px;
    background-color: pink    ;
    border-bottom-right-radius: 20px;
}

div {
    margin: 0 90px;
}

#welc_desc {
    font-family: "smooch sans";
    font-size: 27px;
    font-weight: 300;
}



@media all and (max-width: 1300px) {
    #logo {
        width: 30px;
    }

    
    #welc_header {
        margin-top: 80px;
        font-size: 60px;
    }

    div {
        margin: 0 60px;
    }
}