html {
    scroll-behavior: smooth;
}

body {
    color: black;
    margin: 0;
    font-family: "Parisienne";
    letter-spacing: 1px;

    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

#trail {
    width: 30px;
    height: 30px;
    border-radius: 50%;;
    position: fixed;
    transition: ease-in-out;
    background-color: rgba(162, 223, 255, 0.318);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.344);
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: darkslateblue;
    word-spacing: 20px;
}

#welc_header {
    margin-top: 120px;
    font-size: 90px;
}

.welc_letter {
    padding-bottom: 5px;
    font-weight: 300;
    color: white;
    transition-property: color;
    transition-duration: 0.6s;
    transition-timing-function: linear;
}

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky-top-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

#github {
    padding: 8px 12px 12px 8px;
    width: 37px;
    background-color: blueviolet;
    border-bottom-right-radius: 8px;
    transition: 0.3s;
}

#msg {
    margin: 20px 30px;
    font-size: 20px;
    font-family: "raleway";
    font-weight: 900;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    color: blueviolet;
    border: 2px solid blueviolet;
    padding: 10px 20px;
    border-radius: 40px;
    transition: 0.35s;
    opacity: 0;
    transition: 0.7s;
}

#msg:hover {
    background-color: blueviolet;
    color: white;
    box-shadow: 0 0 17px blueviolet;
}

#contact {
    color: black;
    font-size: 30px;
    padding: 12px;
    width: 100px;
    background-color: pink    ;
    border-bottom-left-radius: 20px;
    transition: 0.3s;
    text-decoration: none;
}

div {
    margin: 0 0px;
    padding: 25px;
}

#welc_desc {
    transition: 0.8s;
    font-family: "smooch sans";
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 60px;
    opacity: 0;
}

#github:hover {
    width: 45px;
    padding: 15px;
}

#contact:hover {
    font-size: 33px;
    padding: 15px; 
}

#devices {
    opacity: 0;
    transition: 3s;
    width: 400px;
    margin-bottom: 100px;
}

#discord {
    position: relative;
    top: 3px;
    width: 25px;
    font-family: "smooch sans";
}

.contact-div h2 {
    font-weight: 300;
    font-size: 50px;
    font-family: "smooch sans";
    text-decoration: 2px solid green line-;
}

.contact-div span {
    border-bottom: 2px solid blueviolet;
} 

.contact-div p {
    font-family: "smooch sans";
    font-size: 28px;
}

#instagram {
    position: relative;
    top: 4px;
    width: 20px;
}

#email {
    position: relative;
    top: 2px;
    width: 20px;
}

hr {
    margin: 40px 300px 40px 300px;
}

.footer {
    margin-left: 15px;
    font-size: 10px;
    font-family: "raleway";
    font-weight: 600;
}

.about_title {
    font-family: "smooch sans"; 
    font-weight: 100;
    font-size: 37px;
}

.about_title > span {
    border-bottom: 2px solid blueviolet;
}

.about_p {
    font-family: "raleway";
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 55px;
}

.about-div {
    background-color: blueviolet;
    opacity: 0;
    transition: 0.7s;
}

.about-div p {
    font-size: 21px;
    font-family: "nunito";
    font-weight: 300;
    margin-bottom: 50px;
}

.about-div h2 {
    font-size: 68px;
    font-family: "Nunito";
    font-weight: 100;
    font-style: italic;
}

.about-div span {
    border-bottom: 2px solid black;
}

#logo_p {
    width: 14px;
}

@media all and (max-width: 1300px) {
    #github {
        width: 30px;
    }

    #contact {
        width: 70px;
        font-size: 20px;
    }
    
    #welc_header {
        margin-top: 80px;
        font-size: 60px;
    }

    div {
        margin: 0 0px;
    }

    .contact-div h2 {
        font-size: 40px;
    }
    
    .contact-div p {
        font-size: 22px;
    }

    
    hr {
        margin: 25px 0;
    }

    #welc_desc {
        font-size: 17px;
        margin: 0px 0 60px 0;
    }

    .footer {
        font-size: 6px;
        margin-bottom: 20px;
    }

    
    .about_p {
        font-size: 12px;
        margin-bottom: 45px;
    }

    #devices {
        width: 300px;
    }

    #github:hover {
        width: 37px;
    }

    #msg {
        margin: 8px 8px 0 0;
        font-size: 16px;
        color: blueviolet;
        padding: 6px 14px;
    }

    .about-div p {
        font-size: 17px;
    }
    
    .about-div h2 {
        font-size: 68px;
    }
    
}