<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Smooch+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles.css">
    <title>𝘾𝙤𝙣𝙩𝙖𝙘𝙩 𝙢𝙚</title>
</head>
<a href="../index.html"><img class = "sticky-top" id = "github" src = "../media/code_logo.png"></img></a>

<body>
    <center>
        <h1 id = "welc_header"><span class = "welc_word">Contact</span> <span class = "welc_word">Me</span></h1>
        <p id = "welc_desc">If you wanna contact me, details are below.</p>
        <hr>
        <div class = "contact-div">
            <h2><span>Discord</span></h2>
            <p><img id = "discord" src = "../media/discord.svg"> Arjun_#9968</p> 
        </div>
        <div class = "contact-div">
            <h2><span>Email</span></h2>
            <p><img id = "email" src = "../media/email.svg"> Arjun.main@proton.me</p> 
        </div>
        <div class = "contact-div">
            <h2><span>Github</span></h2>
            <p><img id = "instagram" src = "../media/github.svg"> ClxppyLOL</p> 
        </div>
        <div class = "contact-div">
            <h2><span>Instagram</span></h2>
            <p><img id = "instagram" src = "../media/instagram.svg"> _arjun_xd</p> 
        </div>
        <hr>
    </center>
    <p class = "footer">All code and domains are owned by © Arjun 2022</p>

</body>
<script src = "../scripts/main.js"></script>
</html>